body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


h1{
    font-size:50px;
}

h3{
    font-size:25px;
}
.orange-highlight{
    color:orange;
}

.half-width{
    width:40%;
    float:left;
    margin-left:5%;
    padding-left:2%;
}

.half-width img{
    width:100%;
}

.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

section{
    height:900px;
}

.link-button{    
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    background-image: linear-gradient(45deg,  lightsalmon, tomato);
    font-weight: 500;
    color: white;
}

.half-width-2{
    width:40%;
    float: right;
    margin-right: 5%;
    padding-right: 2%;
}

.half-width-2 img{
    width:100%;

}

.portfolio-button{
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(45deg,  lightsalmon, tomato);
    font-weight: 500;
    color: white;
}

.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}